.heroContainer {
    width: 100%;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.heroContentWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 212px;
    width: 799px;
}

.heroLeftContent {
    text-align: center;
    color: white;
}

.heroRightContent{
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroIcon {
    width: 212px;
    height: 212px;
}
